{% extends "layout.html" %}


{% block title %}
    Hampi
{% endblock %}


{% block header %}
    <h1>Hampi</h1>
{% endblock %}


{% block body %}
    <p>Hampi, a UNESCO World Heritage Site in Karnataka, India, is a treasure trove of ancient ruins and rich history.</p>

    <img alt="Hampi" src="/static/hampi.jpg">

    <ul class="wonder">
        <h2>A bygone empire's grandeur:</h2>
        <li>
            Hampi was the capital of the Vijayanagara Empire, a powerful Hindu kingdom that thrived from the 14th to the 16th centuries.
        </li>
        <li>
            Imagine a bustling metropolis, adorned with ornate temples, towering palaces, and bustling markets. Sadly, it was ransacked in 1565, leaving behind a mesmerizing yet melancholic landscape of ruins.
        </li>

        <h2>Architectural marvels:</h2>
        <li>
            Step into the Virupaksha Temple, an active Hindu temple that pulsates with vibrant energy.
        </li>
        <li>
            Marvel at the intricate carvings adorning the Stone Chariot, a monolithic granite structure resembling a chariot.
        </li>
        <li>
            Explore the Queen's Bath, a luxurious bathing complex with intricate water channels and lotus-shaped fountains.
        </li>

        <h2>Beyond the ruins:</h2>
        <li>
            Hampi isn't just about the past. It's a thriving village with a vibrant local community.
        </li>
        <li>
            Wander through the Hampi Bazaar, bustling with colorful shops selling souvenirs, spices, and handicrafts
        </li>
        <li>
            Take a coracle ride on the Tungabhadra River, soaking in the scenic beauty of the surrounding hills.
        </li>
        <li>
            Climb the massive boulders that dot the landscape, offering panoramic views of the ruins.
        </li>
    </ul>
{% endblock %}
