{% extends "layout.html" %}


{% block title %}
    Harmandir Sahib
{% endblock %}


{% block header %}
    <h1>Harmandir Sahib Golden Temple</h1>
{% endblock %}


{% block body %}
    <p>
        Harmandir Sahib, also known as the Golden Temple and Darbar Sahib, is the holiest shrine of Sikhism, located in the holy city of Amritsar, Punjab, India.</p>

    <img alt="Harmandir Sahib" src="/static/harmandir.jpg">

    <ul class="wonder">

        <li>
            Holiest shrine of Sikhism: Revered by Sikhs worldwide, it attracts millions of pilgrims every year.
        </li>
        <li>
            Location: Amritsar, Punjab, India.
        </li>
        <li>
            Architecture: A two-story structure built on a square platform in the center of the Sarovar. The upper floor is gilded with approximately 750 kg of gold leaf.
        </li>

        <h2>Significance:</h2>
        <li>
            Spiritual center: Houses the Guru Granth Sahib, the Sikh holy scripture.
        </li>
        <li>
            Symbol of inclusivity: Four entrances on all sides welcome people from all faiths and backgrounds.
        </li>
        <li>
            Embodiment of service: The Langar provides free meals to all visitors, regardless of their religion or social status.
        </li>

        <h2>Other notable features:</h2>
        <li>
            Akal Takht: The Sikh seat of temporal authority, located opposite the Golden Temple.
        </li>
        <li>
            Jubi Tree: A 450-year-old tree believed to possess special powers.
        </li>

        <p class="p">Harmandir Sahib is not just a stunning architectural marvel; it's a beacon of spirituality, inclusivity, and selfless service, offering a profound pilgrimage experience for people of all walks of life.</p>
    </ul>
{% endblock %}
