{% extends "layout.html" %}

{% block title %}
    Wonders Of India
{% endblock %}

{% block header %}
    <h1>Wonders Of India</h1>
{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Known For</th>
            </tr>
        </thead>
        <tbody>

            <!-- Wonder-1 -->
            <tr>
                <th><a href="/gommateshwara">Gommateshwara</a></th>
                <th>Karnataka</th>
                <th>
                    <ul>
                        <li>one of the world's largest free-standing statues</li>
                    </ul>
                </th>
            </tr>

            <!-- Wonder-2 -->
            <tr>
                <th><a href="/hampi">Hampi</a></th>
                <th>Karnataka</th>
                <th>
                    <ul>
                        <li>Ruins from the medieval Hindu kingdom of Vijayanagara</li>
                    </ul>
                </th>
            </tr>

            <!-- Wonder-3 -->
            <tr>
                <th><a href="/harmandir">Harmandir Sahib Golden Temple</a></th>
                <th>Punjab</th>
                <th>
                    <ul>
                        <li>Full golden dome</li>
                        <li>One of the most sacred pilgrim spots for Sikhs</li>
                    </ul>
                </th>
            </tr>

            <!-- Wonder-4 -->
            <tr>
                <th><a href="/khajuraho">Khajuraho</a></th>
                <th>Madhya Pradesh</th>
                <th>
                    <ul>
                        <li>Medieval Hindu and Jain temples</li>
                    </ul>
                </th>
            </tr>

            <!-- Wonder-5 -->
            <tr>
                <th><a href="/konark">Konark Sun Temple</a></th>
                <th>Odisha</th>
                <th>
                    <ul>
                        <li>Unique architecture</li>
                        <li>Intricate stone carvings</li>
                        <li>Stunning artwork</li>
                    </ul>
                </th>
            </tr>

            <!-- Wonder-6 -->
            <tr>
                <th><a href="/nalanda">Nalanda</a></th>
                <th>Bihar</th>
                <th>
                    <ul>
                        <li>Ancient International Monastic University established in 5th century BC</li>
                    </ul>
                </th>
            </tr>

            <!-- Wonder-7 -->
            <tr>
                <th><a href="/taj">Taj Mahal</a></th>
                <th>Uttar Pradesh</th>
                <th>
                    <ul>
                        <li>Beauty</li>
                        <li>Grandeur</li>
                        <li>Unique design and engineering</li>
                    </ul>
                </th>
            </tr>
        </tbody>
    </table>
{% endblock %}
