{% extends "layout.html" %}


{% block title %}
    Khajuraho
{% endblock %}


{% block header %}
    <h1>Khajuraho</h1>
{% endblock %}


{% block body %}
    <p>
        Khajuraho, nestled in the Indian state of Madhya Pradesh, is an ancient town renowned for its magnificent temples, a UNESCO World Heritage Site. Built between 950 and 1050 AD by the Chandela Dynasty, these temples showcase a unique blend of Hindu and Jain religious symbolism, intricate carvings, and stunning architecture.
    </p>

    <img alt="khajuraho" src="/static/khajuraho.jpg" class="image">

    <ul class="wonder">

        <li>
            Temple Marvels: Over 85 temples once graced the landscape, but time has preserved around 25, categorized into three distinct groups: Western, Eastern, and Southern. Each group boasts architectural gems like the Kandariya Mahadev Temple, dedicated to Lord Shiva, with its towering shikhara (spire) and captivating sculptures.
        </li>
        <li>
            Erotic Art Decoded: While Khajuraho is famed for its erotic sculptures, these artworks delve deeper than mere sensuality. They represent a celebration of life, fertility, and the pursuit of spiritual liberation. Many depict celestial musicians, mythical creatures, and scenes from daily life, interwoven with symbolic representations of tantric practices and spiritual teachings.
        </li>
        <li>
            Architectural Prowess: The temples showcase the Nagara style of architecture, characterized by intricately carved facades, soaring spires, and graceful arches. The walls are adorned with life-size sculptures depicting celestial beings, mythical creatures, and scenes from Hindu epics like the Ramayana and Mahabharata.
        </li>
        <li>
            Beyond Temples: Khajuraho offers more than just ancient marvels. The town pulsates with vibrant culture, evident in its lively bazaars and traditional dance performances. Visitors can delve deeper into the history at the Kamasutra Museum, showcasing ancient Indian erotic art and scriptures.
        </li>

        <p class="p">In essence, Khajuraho is a captivating tapestry of art, history, and spirituality. It's a must-visit for anyone seeking a glimpse into India's rich heritage and artistic legacy.</p>
    </ul>
{% endblock %}
