{% extends "layout.html" %}


{% block title %}
    Konark Sun
{% endblock %}


{% block header %}
    <h1>Konark Sun Temple</h1>
{% endblock %}


{% block body %}
    <p>
        Rising majestically on the eastern coast of India, the Konark Sun Temple is a breathtaking monument to the Hindu sun god Surya. Built in the 13th century by King Narasimhadeva I of the Eastern Ganga dynasty, it's not just a temple; it's a colossal stone chariot, 30 meters high and 35 meters long, hurtling across eternity.
    </p>

    <img alt="konark Sun Temple" src="/static/konark.jpg" class="image">

    <ul class="wonder">

        <li>
            Chariot Design: Imagine a 24-wheeled chariot, each wheel 10 feet in diameter, intricately carved with celestial bodies and mythical creatures. Seven mighty horses, also sculpted from stone, pull the chariot, symbolizing the sun's cosmic journey.
        </li>
        <li>
            Ruined Grandeur: Time and neglect have taken their toll. The once 60-meter-tall shikhara, or tower, that housed the sanctum sanctorum, now lies in ruins. But the remaining structures, including the mandapa (assembly hall) and the natamandapa (dancing hall), are a testament to the temple's original splendor.
        </li>
        <li>
            Erotic Sculptures: The temple walls are adorned with a profusion of sculptures, depicting celestial musicians, apsaras (heavenly dancers), and mythical beasts. But what truly sets Konark apart is its erotic carvings, showcasing tantric symbolism and the life-force of the universe.
        </li>
        <li>
            UNESCO World Heritage Site: In 1984, Konark Sun Temple was inscribed as a UNESCO World Heritage Site for its "outstanding universal value" as a masterpiece of Orissan architecture and art.
        </li>

        <h2>Beyond the grand architecture, Konark whispers stories of a bygone era:</h2>
        <li>
            Architectural Prowess: The temple's intricate carvings and precise engineering, including a sun-tracking mechanism, showcase the advanced skills of the Orissan artisans.
        </li>
        <li>
            Religious Significance: Surya, the sun god, was revered as the source of life and energy in ancient India. Konark served as a major pilgrimage center for Sun worshipers.
        </li>
        <li>
            Cultural Legacy: The temple's artistic and architectural influence can be seen in other Sun temples across India and Southeast Asia.
        </li>

        <p class="p">Konark Sun Temple is more than just a pile of stones; it's a portal to a vibrant past, a testament to human ingenuity, and a celebration of the life-giving power of the sun.</p>
    </ul>
{% endblock %}
