{% extends "layout.html" %}


{% block title %}
    Nalanda
{% endblock %}


{% block header %}
    <h1>Nalanda</h1>
{% endblock %}


{% block body %}
    <p>
        Nalanda University, a beacon of ancient learning resurrected, holds a unique position in the world of academia. Nestled in Rajgir, Bihar, India, it embodies the spirit of its predecessor, the famed Nalanda Mahavihara, which flourished between the 5th and 13th centuries as the world's first residential university.
    </p>

    <img alt="Nalanda" src="/static/nalanda.jpg" class="image">

    <ul class="wonder">

        <li>
            A Center of Knowledge: The ancient Nalanda Mahavihara attracted scholars from across Asia, drawn by its vast library, renowned teachers, and diverse subjects spanning Buddhist philosophy, logic, grammar, medicine, and astronomy.
        </li>
        <li>
            A Flourishing Community: With 10,000 students and 2,000 teachers, Nalanda fostered a vibrant intellectual and spiritual environment, promoting free exchange of ideas and scholarly pursuits.
        </li>
        <li>
            Enduring Influence: Nalanda's legacy continued to inspire generations, influencing the development of universities across Asia and shaping the intellectual landscape of the region.
        </li>

        <p class="p">In essence, Nalanda University is a testament to the enduring power of knowledge and the transformative potential of education. It stands as a symbol of cultural exchange, intellectual inquiry, and the pursuit of truth, inspiring generations to come.</p>
    </ul>
{% endblock %}
